@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Strike&family=Rowdies:wght@300;400;700&display=swap');
.services{
  height: auto;
  padding-bottom: 3rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(
    40deg,
  hsl(210deg 56% 93%) 0%,
  hsl(210deg 56% 93%) 11%,
  hsl(210deg 56% 93%) 21%,
  hsl(210deg 56% 93%) 31%,
  hsl(210deg 56% 93%) 41%,
  hsl(210deg 56% 93%) 51%,
  hsl(210deg 56% 93%) 62%,
  hsl(210deg 56% 93%) 73%,
  hsl(210deg 56% 93%) 85%,
  hsl(210deg 56% 93%) 100%
);
}
.s_top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex:1;
}
.titleforeach {
  font-size: 1.2rem;
}
.headingforeach{
  font-size: 2.3rem;
  color: var(--dark-color);
}
.s_top>label:nth-child(3){
  font-size: 2rem;
  color: var(--dark-color);
}
.s_top>label:nth-child(3) span{
  font-family: "Rowdies";
}
.s_bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* Card Design */
.card{
  height: 250px;
  width: 200px;
  padding: 1rem .8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  box-shadow: -2px -4px 10px 0px rgb(255, 255, 255),3px 2px 10px -3px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(
    90deg,
    hsl(210deg 56% 93%) 0%,
    hsl(211deg 56% 94%) 5%,
    hsl(212deg 56% 94%) 12%,
  hsl(213deg 56% 95%) 21%,
  hsl(214deg 56% 96%) 32%,
  hsl(215deg 56% 96%) 44%,
  hsl(216deg 56% 97%) 58%,
  hsl(218deg 56% 98%) 73%,
  hsl(219deg 57% 98%) 87%,
  hsl(220deg 60% 99%) 100%
);

}
.card:hover{
  transform: scale(1.125);
}
.card:hover,
.card:not(:hover) {
    transition: transform 0.3s;
}

.card .icon label{
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  border-radius: 5px;
  line-height: 2.9rem;
  display: inline-block;
  /* border: 1px solid black; */
  box-shadow: 3px 3px 5px 0px rgba(19, 17, 17, 0.068) inset,5px 5px 10px  rgba(253, 253, 253, 0.5);
}
.title label{
  color: var(--dark-color);
  font-weight: 700;
  font-size: .9rem;
}
.descr span{
  font-size: .6rem;
  display: inline-block;
  font-weight: 600;
  color: rgb(167, 161, 161);
}
.s_bottom .button{
  position: absolute;
  bottom: 5%;
  left: 5%;
}
@media screen and (max-width:1000px) {
  .s_bottom .button{
    margin-top: 2.8rem !important;
  }
  .s_bottom .descr{
    margin-top: .5rem !important;
  }
  
}
@media screen and (max-width:800px) {
  .s_bottom{
    flex-wrap: wrap;
  }
  .s_bottom .card{
    flex-basis: 40%;
  }
  /* .s_bottom .card:nth-child(3),
  .s_bottom .card:nth-child(4) {
    flex-basis: 100%;
  } */
  .s_bottom .button{
    margin-top: 2.8rem !important;
  }
  .s_bottom .descr{
    margin-top: .5rem !important;
  }
  .title label{
    font-size: 2rem;
  }
  .descr span{
    font-size: 1rem;
  }
  .button button{
  font-size: 1.2rem !important;

  }
  
}
@media screen and (max-width:750px) {
  .title label{
    font-size: 2rem;
  }
  .descr{
    width: 80%;
  }
  .descr span{
    font-size: 1.3rem;
  }
  .button button{
  font-size: 1.2rem !important;

  }
  
}
@media screen and (max-width:700px) {
  .title label{
    font-size: 2rem;
  }
  .descr{
    width: 80%;
  }
  .descr span{
    font-size: 1.1rem;
  }
  .button button{
  font-size: 1.2rem !important;

  }
  
}
@media screen and (max-width:600px) {
  .services{
    padding-top: 3rem !important;
  }
  .s_bottom{
    flex-wrap: wrap;
  }
  .s_bottom .card{
    flex-basis: 90%;
  }
  .title label{
    font-size: 1.6rem;
  }
  .descr{
    width: 80%;
  }
  .descr span{
    font-size: .6rem;
  }
  .s_bottom .button{
    margin: 0rem !important;
  }
  .button button{
     font-size: 1rem !important;

  }
  
}
@media screen and (max-width:450px) {
  .s_top>label:nth-child(2){
    font-size: 2rem;
  }
  .s_top>label:nth-child(3){
    font-size: 1.8rem;
  }
  .title label{
    font-size: 1.6rem;
  }
  .descr{
    width: 60%;
  }
  .descr span{
    font-size: .9rem;
  }
  .s_bottom .button{
    margin-top: 2rem !important;
  }
  .button button{
     font-size: 1rem !important;

  }
  
}