.home{
  height: 90vh;
  width: 100%;
  background-image: linear-gradient(
  80deg,
  hsl(210deg 56% 93%) 0%,
  hsl(211deg 56% 93%) 4%,
  hsl(211deg 56% 94%) 10%,
  hsl(212deg 56% 94%) 18%,
  hsl(212deg 56% 95%) 26%,
  hsl(213deg 56% 95%) 35%,
  hsl(214deg 56% 96%) 44%,
  hsl(214deg 56% 96%) 52%,
  hsl(215deg 56% 96%) 61%,
  hsl(216deg 56% 97%) 69%,
  hsl(216deg 56% 97%) 76%,
  hsl(217deg 56% 98%) 82%,
  hsl(218deg 57% 98%) 88%,
  hsl(218deg 57% 98%) 93%,
  hsl(219deg 58% 99%) 97%,
  hsl(220deg 60% 99%) 100%
);
display: grid;
grid-template-columns: 100px 1fr 1fr;
justify-content: space-evenly;
align-items: center;
z-index: 100;
}
.home>div{
  flex: 1;
}
.first{
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  margin-left: -3rem;
  padding-top: 3rem ;
  text-align: center;
  transform: rotate(-90deg);
  height: 150px;
  position: relative;
  /* max-height: 100; */
}
.first>label{
  font-size: 5rem;
  font-weight: bolder;
  letter-spacing: 4px;
  color: #e3edf7; /* Set the text color */
  text-shadow: 
    0 0 1px rgba(255, 255, 255, 0.486), /* White shadow */
    0 1px 1px rgba(255, 255, 255, 0.363), /* White shadow */
    0 2px 1px rgba(255, 255, 255, 0.7), /* White shadow */
    0 3px 1px rgba(255, 255, 255, 0.7), /* White shadow */
    0 4px 1px rgba(255, 255, 255, 0.7), /* White shadow */
    0 5px 1px rgba(255, 255, 255, 0.7), /* White shadow */
    0 0 5px rgba(155, 158, 160, 0.4), /* Blue shadow */
    0 5px 5px rgba(126, 126, 126, 0.3); /* Blue shadow */
  
  
}
.first .sahu{
  position: absolute;
  bottom: -60%;
  left: 30%;
}
.second{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5rem;
  margin-top: 2.5rem;
  justify-content: flex-start;
}
.second>label:nth-child(1){
  font-size: 3.5rem;
  color: #08203a;
}
.second .name{
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  color: #e6027d;
  font-style: normal;
}
.second>label:nth-child(2){
  font-size: 1.5rem;
  color: #08203a;
  margin-top: -.8rem;
}
.second>label:nth-child(3){
  font-size: .6rem;
  font-weight: 600;
  color: rgb(85, 85, 85);
  margin-top: 1.5rem;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.second .button_grp{
  margin-top: 3rem;
  display: flex;
  gap: 1.2rem;
}
.third{
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin-top: -2rem;
}
.glassy_emoji{
  height: 130px !important;
}
.third .react_cont{
  height: 60px;
  width: 150px;
  position: absolute;
  top: -19%;
  border-radius: 5px;
  right: 9%;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 100;
}
.third .react_cont label{
  position: absolute;
  top: 16%;
  font-size: .8rem;
  right: 11%;
  color: #08203a;
  font-weight: 600;
}
@media screen and (max-width:1350px){
  html{
    font-size: 110%;
  }
  .sahu{
    bottom: -85% !important;
  }
}
@media screen and (max-width:2000px) {
  html{
      font-size: 130%;
  }
  .sahu{
      bottom: -107% !important;
    }
    .second{
      margin-left: 7rem !important;
  }
  .react_cont{
      width: 8rem !important;
  }
  .third .react_cont label {
      top: 10%;
  }
  .bootstrap{
      height: 6rem !important;
      left: 15% !important;
  }
  .icon>img:nth-child(1){
      height: 10rem !important;
  }
  .img_div img{
      width: 20rem !important;
    }
  
}

@media screen and (max-width:1200px) {
  html{
      font-size: 110%;
  }
  .sahu{
      bottom: -84% !important;
  }

  .react_cont{
      width: 9rem !important;
  }
  .bootstrap{
      height: 5rem !important;
      left: 12% !important;
  }
  .icon>img:nth-child(1){
      height: 8rem !important;
  }
  .img_div img{
      width: 20rem !important;
  }
  
}
@media screen and (max-width:1600px){
  html{
    font-size:110%;
  }
  .first .sahu{
    bottom: -80% !important;
  }
}
@media screen and (max-width:1400px){
  html{
    font-size:110%;
  }
  .first .sahu{
    bottom: -75% !important;
  }
  .react_cont{
    width:10rem !important;
  }
  .glassy_emoji{
    height: 130px !important;
  }
}
@media screen and (max-width:1300px){
  html{
    font-size:105%;
  }
  .first .sahu{
    bottom: -70% !important;
  }
  .react_cont{
    width:10rem !important;
  }

}
@media screen and (max-width:1200px){
  html{
    font-size:100%;
  }
  .first .sahu{
    bottom: -70% !important;
  }
}
@media screen and (max-width:1100px){
  html{
    font-size:100%;
  }
  .first .sahu{
    bottom: -70% !important;
  }
}
@media screen and (max-width:1050px){
  html{
    font-size:95%;
  }
  .first .sahu{
    bottom: -40% !important;
  }
}

@media screen and (max-width:1000px) {
  .icon>img:nth-child(1){
    height: 100px !important;
  }
  .react_cont img{
    height: 50px !important;
  }
  .bootstrap{
    height: 70px !important;
  }
  html{
    font-size: 90%;
  }
  .first .sahu{
    bottom: -45% !important;
  }
  .sahu{
    bottom: -84% !important;
}
.second{
  margin-left: 5rem !important;
}


  
}
@media screen and (max-width:850px) {
  .icon>img:nth-child(1){
    height: 90px !important;
  }
  .react_cont img{
    height: 50px !important;
  }
  .bootstrap{
    height: 60px !important;
  }
}
@media screen and (max-width:800px) {
  html{
    font-size: 75%;
  }
  .first .sahu{
    bottom: -30% !important;
  }
  .react_cont{
    width: 10rem !important;
    top: -30% !important;
  }
  .react_cont label{
    top: 25% !important;
  }
}
@media screen and (max-width:750px) {
  html{
    font-size: 60%;
  }
  .first .sahu{
    bottom: -25% !important;
  }
  .img_div img{
    width: 25rem !important;
  }
  .third .react_cont{
    top: -23%;
  }
  .glassy_emoji{
    left: -15% !important;
  }
  .bootstrap{
    left: -5% !important;
  }
  
}
@media screen and (max-width:700px) {
  html{
    font-size: 70%;
  }
  .first .sahu{
    bottom: -25% !important;
  }
  .img_div img{
    width: 23rem !important;
  }
  .third .react_cont{
    top: -26%;
    height: 4rem;
    width: 10rem;
  }
  .icon>img:nth-child(1){
    height: 7rem !important;
  }
  .bootstrap{
    height: 4rem !important;
  }
  .react_cont img{
    height: 3.5rem !important;
  }
  .glassy_emoji{
    left: -15% !important;
  }
  .bootstrap{
    left: -5% !important;
  }
  
}
@media screen and (max-width:650px){
  html{
    font-size: 65%;
  }  
  .first .sahu{
    bottom: -10% !important;
  }
}
@media screen and (max-width:600px) {
  html{
    font-size: 105%;
  }
  .first{
    display: none;
  }
  .home{
    grid-template-columns:1fr ;
    gap: 6rem !important;
    height: 800px;
    padding: 0rem 2rem;
  }
  .second>label:nth-child(3){
    width: 80%;
  }
  .icon>img:nth-child(1) {
    top: -5% !important;
    left: 0% !important;
  }
  .react_cont{
    top: -15% !important;
    right: 0% !important;
  }
  .bootstrap{
    bottom: 0% !important;
    left: 7% !important;
  }
  .second{
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 0 !important;
  }
}
@media screen and (max-width:500px) {
  html{
    font-size: 100%;
  }
  .icon>img:nth-child(1) {
    top: -10% !important;
    left: 0% !important;
  }
  .react_cont{
    top: -18% !important;
    right: 0% !important;
  }
  .bootstrap{
    bottom: 0% !important;
    left: 3% !important;
  }
}
@media screen and (max-width:450px) {
  html{
    font-size: 90%;
  }
}
@media screen and (max-width:425px) {
  html{
    font-size: 85%;
  }
}
@media screen and (max-width:400px) {
  html{
    font-size: 80%;
  }
  .icon>img:nth-child(1) {
    top: -20% !important;
    left: 0% !important;
  }
  .react_cont{
    top: -28% !important;
    right: 0% !important;
  }
  .bootstrap{
    bottom: -10% !important;
    left: 10% !important;
  }
}
@media screen and (max-width:350px) {
  html{
    font-size: 75%;
  }
}